html {
    height: 100%;
}

body {
    height: 100%;
}

.farm-background {
    background: url('../images/ELMO_FARM_2_MAIN_PAINT.jpg') !important;
    background-size: cover  !important;
    background-repeat: no-repeat  !important;
}

.object-card{
    background: none !important
}
#game-parent{
    background: none !important
}

#levels {
    height: 100%;
    display: block;
    text-align: center;
}

.level-option {
    margin: 1rem;
    padding: 1rem;
    border: .25 solid white;
    color: #007bff;
    background-color: white;
}

#game-parent {
    height: 100%
}

#game-body {
    display: flex;
    margin-top: 15%;
}

.object-card {
    width: 25%;
    margin: 1rem;
}

#signin-id {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#signup {
    font-family: Arial, Helvetica, sans-serif;
}

.correct-click {
    -webkit-filter: drop-shadow(10px 10px 10px green)
                    drop-shadow(0px 10px 10px green);
    filter: drop-shadow(0px 10px 10px green) 
            drop-shadow(-1px -1px 0 green);
  }

  .incorrect-click {
    -webkit-filter: drop-shadow(10px 10px 10px red)
                    drop-shadow(0px 10px 10px red);
    filter: drop-shadow(0px 10px 10px red) 
            drop-shadow(-1px -1px 0 red);
  }