html {
    height: 100%;
}

body {
    height: 100%;
}

.farm-background{
background: url('http://4.bp.blogspot.com/-azFEhRvExUw/UFj2SKyoGlI/AAAAAAAABrs/-5XTma5shis/s1600/ELMO_FARM_2_MAIN_PAINT.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#levels {
    height: 100%;
    display: block;
    text-align: center;
}

.level-option {
    margin: 1rem;
    padding: 1rem;
    border: .25 solid white;
    color: #007bff;
    background-color: white;
}

#game-parent {
    height: 100%
}

#game-body {
    display: flex;
    margin-top: 15%;
}

.object-card {
    width: 25%;
    margin: 1rem;
}